---
import { Image } from 'astro:assets';
import logo from '../assets/logo.png';
import siteMetadata from '../data/siteMetadata';
import footerLinks from '../data/footerLinks';
import Container from './Container.astro';
---

<Container>
  <div class='xl:gap-8 xl:grid xl:grid-cols-3'>
    <div class='xl:col-span-3 md:flex justify-between'>
      <div class=''>
        <Image class='max-h-[100px] w-auto' src={logo} alt='' />
        <p class='mt-2'>
          <span class='text-sm font-normal mt-6 text-neutral-500'
            >{siteMetadata.description}</span
          >
        </p>
      </div>
    </div>
    <div class='grid grid-cols-2 md:grid-cols-4 w-full gap-8 col-span-3 py-10'>
      {
        footerLinks.map((section) => (
          <div>
            <h3 class='text-xl'>{section.title}</h3>
            <ul class='space-y-2 mt-4'>
              {section.links.map((link) => (
                <li>
                  <a class='text-sm text-neutral-400' href={link.href}>
                    {link.title}
                  </a>
                </li>
              ))}
            </ul>
          </div>
        ))
      }
    </div>
  </div>
</Container>
